p id="fin"/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2021, 11:21:23
    Author     : sdoisneau
*/

body {
    background-color: #FFD700;
    border: 25px solid #000000;
    margin-bottom: 5px;
}
h1{
    margin-top:30px;
    margin-left: 50px;
    color: #000000;
    font-family: cursive;
    font-size: 50px;
    text-align:center; 
}
h4{
    position: fixed;
    border: 2px solid #000000;
    background-color: #F0F8FF;
    top: 10px;
    right: 30px;
    width:100px;
}
.liste{
    style="list-style-type: square"
}
.liste>li{
    style="list-style-type: circle"
}
img {
    display: block;
    margin: 0px auto;
} 
h5 {
    display: block;
    margin: 50px auto;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #8B0000;
    color: #E9967A;
    font-size:30px;
    width:300px;
}
p {
    display: block;
    margin: 0px auto;
    font-family: monospace;
    font-size: 10px;
    padding:5px;
} 
    
    
