/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2021, 11:21:23
    Author     : sdoisneau
*/

body {
    background-color: #FFD700;
    border: 25px solid #000000;
}
h1{
    color: #000000;
    font-family: cursive;
    font-size: 50px;
    text-align:center; 
}
.important{
    position: relative;
    left:auto;
    right:auto;
    padding:10px;
    background-color:azure;
    border:1px black solid;
    text-align:center;
    width:300px

